<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>EGA</title>
</head>
<header>
    <img src="./img/logo.png" alt="Logo" />
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="./Nosotros.html">Nosotros</a></li>
        <li><a href="./Contacto.html">Contacto</a></li>
    </ul>
    <div class="usuario">
        {% if logged_in[0] %}
        <p>Bienvenido, {{ logged_in[2] }}</p>
        <a href="/logout">cerrar sesión</a>
        <a href="/changepassword">cambiar contraseña</a>
        <a href="/deleteuser/{{logged_in[1]}}">eliminar usuario</a>
        {% else %}
        <a href="/register">registrarme</a>
        <a href="/login">iniciar sesión</a>
        {% endif %}
    </div>

</header>
<body>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Register">
    </form>
</body>
</html>