<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGA - Nosotros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="./css//style_nosotros.css">
</head>

<body>
    <header id="header">
        <nav>
            <div class="nav_header">
                <div class="logo nav_logo">
                    <img src="./img/logo.png" alt="Logo">
                </div>
                <div class="nav_menu_boton" id="menu-boton">
                    <span><i class="ri-menu-line"></i></span>
                </div>
            </div>
            <ul class="nav_links" id="nav-links">
                <li><a href="./Index.html">Home</a></li>
                <li><a href="./Nosotros.html">Nosotros</a></li>
                <li><a href="./Contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="gral-style">
        <section class="presentacion1">
            <h2 style="text-decoration: underline;">Quiénes somos?</h2>
            <div class="texto-foto">
                <div class="foto">
                    <a href="./img/nosotros1-image-alumnos1.jpg" target="_blank">
                        <img id="foto-alumnos1" src="./img/nosotros1-image-alumnos1.jpg" alt="foto-alumnos1"><br>
                    </a>
                </div>
                <div class="texto">
                    <h4> <i>"EN EGA SOMOS DISTINTOS"</i></h4>
                    <p id="texto-presentacion">Todos somos y hacemos del EGA un lugar distinto <br>para construir
                        nuestro futuro. <br>Aprendé con el mejor
                        equipo académico <br>las
                        técnicas que definirán tu capacidad profesional <br>mientras convivís en un ambiente <br>donde
                        podés
                        sentirte
                        partícipe de tu
                        entorno.</p>
                </div>
            </div><br>
        </section>
        <section class="beneficios">
            <div>
                <h2 style="text-decoration: underline; text-align: center;">Beneficios</h2>
            </div>
            <div class="benef-icons">
                <div>
                    <img src="./img/beneficios-1-70x70.png" alt="beneficios 1"><br>
                    <p>
                        Material de regalo: <br>
                        Uniforme Completo para los cursos de Gastronomía y Pastelería
                    </p>
                </div>
                <div>
                    <img src="./img/beneficios-2-70x70.png" alt="beneficios 2"><br>
                    <p>
                        Cuchillos y utensilios
                        para las clases prácticas
                    </p>
                </div>
                <div>
                    <img src="./img/beneficios-3-70x70.png" alt="beneficios 3"><br>
                    <p>
                        Materia prima incluída
                        para las clases prácticas
                    </p>
                </div>
                <div>
                    <img src="./img/beneficios-4-70x70.png" alt="beneficios 4"><br>
                    <p>
                        Material de estudio en formato digital.
                    </p>
                </div>
            </div>
            <div class="benef-icons">
                <div>
                    <img src="./img/beneficios-5-70x70.png" alt="beneficios 5"><br>
                    <p>
                        Desde el 2003 formando profesionales de la Gastronomía
                    </p>
                </div>
                <div>
                    <img src="./img/beneficios-6-70x70.png" alt="beneficios 6"><br>
                    <p>
                        Para alumnos extranjeros otorgamos “Visas de Estudio” con constancia de RENURE
                    </p>
                </div>
                <div>
                    <img src="./img/beneficios-7-70x70.png" alt="beneficios 7"><br>
                    <p>
                        Descuento en Seminarios y Cursos Cortos, incluyendo clínicas con Chef reconocidos.
                    </p>
                </div>
                <div>
                    <img src="./img/beneficios-8-70x70.png" alt="beneficios 8"><br>
                    <p>
                        Pruebas evaluativas y un recuperatorio sin cargo.
                    </p>
                </div>
            </div>
        </section><br>
        <section class="razones">
            <h2 style="text-decoration: underline;">Razones para formarte con nosotros</h2>
            <div>
                <h5>SÓLIDA FORMACION ACADÉMICA</h5>
                <p>
                    Basada en carreras con mayor carga horaria de materias prácticas, <br>profesionales de primer nivel,
                    y
                    enseñanza de las últimas tendencias culinarias. <br>Siempre priorizamos el contacto entre docente y
                    alumno.
                </p><br>
            </div>
            <div>
                <h5>MODERNAS INSTALACIONES</h5>
                <p>
                    Contamos con equipamiento de última generación, <br>y con sedes distribuidas estratégicamente
                    <br>para
                    llevar EAG a donde estés.
                </p><br>
            </div>
            <div>
                <h5>ASISTENCIA EN LA SALIDA LABORAL</h5>
                <p>
                    Prácticas libres, convenios educativos internacionales, intercambios interprogramáticos, <br>y
                    constante
                    publicación de vacantes laborales en locales asociados.
                </p><br><br>
            </div>
        </section>
        <div class="back-top">
            <a href="#header">Volver arriba</a>
        </div>
        <br><br>
    </main>
    <!--script menú hamburguesa-->
    <script src="./main.js"></script>
    <footer class="footer">
        <p>
            Grupo 1: Candela Puerta, Helen Calanche, Natalia Vaccaro Bianchi, Leo García. <br>&copy; 2024 Todos los derechos
            reservados.
        </p>
        <div>
            <a class="footer-icons-style" href="#">
                <i class="fa fa-instagram" style="font-size:24px"></i>
            </a>
    
            <a class="footer-icons-style medio" href="#">
                <i class="fa fa-facebook" style="font-size:24px"></i>
            </a>
    
            <a class="footer-icons-style" href="#">
                <i class="fa fa-linkedin" style="font-size:24px"></i>
            </a>
        </div>
    </footer>
</body>

</html>